@import './badge.css';
@import './input.css';
@import './modal.css';
@import './select.css';
@import './textarea.css';
@plugin "daisyui" {
  prefix: 'k';
}

:root {
  /* Theme Colors */
  --theme-base-100: #ffffff;
  --theme-base-200: #f7f9fa;
  --theme-base-300: #d0d4db;
  --theme-base-content: #0c0c0c;
  --theme-primary: #03a9f4;
  --theme-primary-content: #0c0c0c;
  --theme-secondary: #1f3d5a;
  --theme-secondary-content: #d4dfeb;
  --theme-accent: #80f7ff;
  --theme-accent-content: #003a45;
  --theme-neutral: #0f0e1b;
  --theme-neutral-content: #e8e5ff;
  --theme-info: #c7dfff;
  --theme-info-content: #1d2229;
  --theme-success: #d3edd3;
  --theme-success-content: #383f38;
  --theme-warning: #fcfae6;
  --theme-warning-content: #eeaf00;
  --theme-error: #fec8c8;
  --theme-error-content: #801518;

  /* DaisyUI Colors */
  --color-base-100: oklch(from var(--theme-base-100) l c h);
  --color-base-200: oklch(from var(--theme-base-200) l c h);
  --color-base-300: oklch(from var(--theme-base-300) l c h);
  --color-base-content: oklch(from var(--theme-base-content) l c h);
  --color-primary: oklch(from var(--theme-primary) l c h);
  --color-primary-content: oklch(from var(--theme-primary-content) l c h);
  --color-secondary: oklch(from var(--theme-secondary) l c h);
  --color-secondary-content: oklch(from var(--theme-secondary-content) l c h);
  --color-accent: oklch(from var(--theme-accent) l c h);
  --color-accent-content: oklch(from var(--theme-accent-content) l c h);
  --color-neutral: oklch(from var(--theme-neutral) l c h);
  --color-neutral-content: oklch(from var(--theme-neutral-content) l c h);
  --color-info: oklch(from var(--theme-info) l c h);
  --color-info-content: oklch(from var(--theme-info-content) l c h);
  --color-success: oklch(from var(--theme-success) l c h);
  --color-success-content: oklch(from var(--theme-success-content) l c h);
  --color-warning: oklch(from var(--theme-warning) l c h);
  --color-warning-content: oklch(from var(--theme-warning-content) l c h);
  --color-error: oklch(from var(--theme-error) l c h);
  --color-error-content: oklch(from var(--theme-error-content) l c h);

  /* DaisyUI Theme Overrides */
  --radius-selector: 1.5rem;
  --radius-field: 1.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
