@utility kinput-sm {
  --ksize: calc(var(--size-field, 0.25rem) * 9);
  font-size: 0.875rem;
}
@utility kinput-md {
  --ksize: calc(var(--size-field, 0.25rem) * 10);
  font-size: 1rem;
}
@utility kinput {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
  @apply block w-full hover:bg-base-200 font-medium px-6;
  @apply focus:outline-0 focus:border-base-300 focus:bg-base-100 focus:ring-3 focus:ring-primary/40;
  @apply focus-within:outline-0 focus-within:border-base-300 focus-within:bg-base-100 focus-within:ring-3 focus-within:ring-primary/40;
}
@utility kinput-lg {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
}
@utility kinput-xl {
  --ksize: calc(var(--size-field, 0.25rem) * 12);
  font-size: 1rem;
}
