@utility kselect-sm {
  --ksize: calc(var(--size-field, 0.25rem) * 9);
  font-size: 0.875rem;
}
@utility kselect-md {
  --ksize: calc(var(--size-field, 0.25rem) * 10);
  font-size: 1rem;
}
@utility kselect {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
  @apply block w-full hover:bg-base-200 font-medium px-6;
  @apply focus:outline-0 focus:border-base-300 focus:bg-base-100 focus:ring-3 focus:ring-primary/40;
  @apply focus-within:outline-0 focus-within:border-base-300 focus-within:bg-base-100 focus-within:ring-3 focus-within:ring-primary/40;
  background-image: linear-gradient(
      45deg,
      #0000 50%,
      currentColor 50%,
      currentColor 75%,
      #0000 75%
    ),
    linear-gradient(
      135deg,
      #0000 25%,
      currentColor 25%,
      currentColor 50%,
      #0000 50%
    );
  background-position:
    calc(100% - 22px) calc(1px + 50%),
    calc(100% - 16px) calc(1px + 50%);
  background-size:
    6px 6px,
    6px 6px;
}
@utility kselect-lg {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
}
@utility kselect-xl {
  --ksize: calc(var(--size-field, 0.25rem) * 12);
  font-size: 1rem;
}
