/******************************************************************************
 * FORMS
 *
 * Styling for form elements and the Kinetic form.
 *
 * Custom Classes:
 *  .empty-label
 *    Use on a checkbox field element when you have a required checkbox without
 *    a label to move the asterisk to be on the same line as the checkbox.
 *  .vertical
 *    Use on a checkbox or radio field element when you want the options to
 *    be stacked vertically.
 *    Use on a section with buttons when you want the children to be stacked
 *    vertically.
 *    Children will be set to full width.
 *  .cols-2, .cols-3, .cols-4
 *    Use on a section to align its children into 2, 3, or 4 columns.
 *    Use on a checkbox or radio field element to align its options into 2, 3,
 *    or 4 columns.
 *    These classes don't work if you also use the vertical class on the same
 *    element.
 *  .full-width
 *    Use on a child of a section that uses one of the above column classes to
 *    make this child span the full width.
 *  .align-right
 *    Use on a section to align its children to the right.
 *    Use on a button to align it and any buttons after it to the right.
 *    This class only works if the relevant elements aren't full width, and is
 *    mainly useful for buttons.
 ******************************************************************************/

@layer base {
  input[type='number']:not(.unstyled),
  input[type='date']:not(.unstyled),
  input[type='datetime-local']:not(.unstyled),
  input[type='time']:not(.unstyled),
  input[type='password']:not(.unstyled),
  input[type='text']:not(.unstyled) {
    @apply kinput;
  }

  select:not(.unstyled) {
    @apply kselect;
  }

  textarea:not(.unstyled) {
    @apply ktextarea;
  }

  input[type='checkbox']:not(.unstyled),
  input[type='radio']:not(.unstyled) {
    @apply flex-none appearance-none w-5 h-5 border-2 border-primary bg-base-200 outline-0 bg-center bg-no-repeat;
    &:checked {
      @apply bg-primary;
    }
  }
  input[type='checkbox']:not(.unstyled) {
    @apply rounded;
    &:checked {
      &:before {
        content: '';
        @apply block size-5/6 rotate-45 bg-base-content;
        clip-path: polygon(
          20% 100%,
          20% 80%,
          50% 80%,
          50% 0%,
          70% 0%,
          70% 100%
        );
        margin: 6% 0 0 16%;
      }
      &:disabled {
        &:before {
          @apply bg-base-content/40;
        }
      }
    }
  }
  input[type='radio']:not(.unstyled) {
    @apply rounded-full;
    &:checked {
      &:before {
        content: '';
        @apply block size-full rotate-45 bg-base-content;
        clip-path: circle(30%);
      }
      &:disabled {
        &:before {
          @apply bg-base-content/40;
        }
      }
    }
  }
  label:not(.unstyled):has(> input[type='checkbox'], > input[type='radio']) {
    @apply flex-none inline-flex flex-row-reverse justify-between items-center gap-3 px-5 md:px-6 py-2.75 md:py-2.25 max-md:text-sm border border-base-300 rounded-field outline-0 font-medium max-w-full;
    @apply outline-0 hover:bg-base-200 focus-within:bg-base-200 focus-within:ring-3 focus-within:ring-primary/40;
    overflow-wrap: anywhere;
    &:has(input[disabled]) {
      @apply bg-base-200 border-base-200 text-base-content/40;
    }
  }

  .field {
    > label {
      @apply block flex-none w-full text-sm font-semibold leading-4 pb-2 text-base-content/70 empty:hidden;
    }
    &.required > label {
      @apply after:text-[var(--required-field-color,red)] after:font-bold;
      &:after {
        content: ' *';
      }
    }
    &.has-error {
      input,
      select,
      textarea {
        --kinput-color: var(--color-error);
      }
    }
  }

  .embedded-core-form form {
    > .errors {
      @apply kalert kalert-error kalert-vertical w-full justify-start justify-items-start text-left gap-1;
      > p {
        @apply font-semibold;
      }
    }

    &,
    [data-element-type='section'] {
      @apply flex flex-wrap justify-start content-start items-stretch gap-5 w-full;

      > [data-element-type='content'] {
        @apply block w-full;
        &:empty {
          @apply hidden;
        }
      }

      > [data-element-type='button'] {
        @apply max-md:block max-md:w-full self-start flex-none;

        &.align-right {
          @apply ml-auto;
        }
      }

      &.vertical {
        @apply flex-col items-stretch;
        > [data-element-type='button'] {
          @apply self-auto;
        }
      }

      &:not(.vertical) {
        &.cols-2 {
          > [data-element-type] {
            @media (min-width: 768px) {
              flex: 0 0 calc((100% - 1.25rem) / 2);
            }
          }
        }
        &.cols-3 {
          > [data-element-type] {
            @media (min-width: 768px) {
              flex: 0 0 calc((100% - 1.25rem * 2) / 3);
            }
          }
        }
        &.cols-4 {
          > [data-element-type] {
            @media (min-width: 768px) {
              flex: 0 0 calc((100% - 1.25rem * 3) / 4);
            }
          }
        }
        > [data-element-type].full-width {
          flex: 0 0 100%;
        }
      }

      &.align-right {
        @apply justify-end;
      }
    }

    [data-element-type='section'] {
      > .section-title {
        @apply h3 block w-full;
      }
      > [data-element-type='section'] > .section-title {
        @apply h4;
      }
    }

    [data-element-type='wrapper'] {
      @apply relative block w-full;

      .field-label {
        @apply block flex-none w-full text-sm font-semibold leading-4 pb-2 text-base-content/70 empty:hidden;
      }
      &.required .field-label {
        @apply after:text-[var(--required-field-color,red)] after:font-bold;
        &:after {
          content: ' *';
        }
      }
      &.empty-label {
        .field-label {
          @apply hidden;
        }
        &.required {
          @apply after:text-[var(--required-field-color,red)] after:font-bold relative after:absolute after:-top-1 after:-left-0;
          &:after {
            content: ' *';
          }
        }
      }
      &.has-error {
        input,
        select,
        textarea {
          --kinput-color: var(--color-error);
        }
      }

      &.checkbox,
      &.radio {
        @apply flex justify-start content-start items-start flex-wrap gap-3 w-full max-md:flex-col;
        .field-label {
          @apply -mb-3;
        }
        &.vertical {
          @apply flex-col items-stretch;
        }
        &:not(.vertical) {
          @media (min-width: 768px) {
            &.cols-2 {
              > label:not(.field-label) {
                flex: 0 0 calc((100% - 0.75rem) / 2);
              }
            }
            &.cols-3 {
              > label:not(.field-label) {
                flex: 0 0 calc((100% - 0.75rem * 2) / 3);
              }
            }
            &.cols-4 {
              > label:not(.field-label) {
                flex: 0 0 calc((100% - 0.75rem * 3) / 4);
              }
            }
          }
        }
      }

      /* Attachments */
      .fileinput-button {
        @apply kbtn kbtn-outline border-dashed bg-no-repeat !pl-11 py-2.25;
        &:before {
          content: 'x';
          @apply block absolute left-4 size-6 bg-base-content;
          mask: url(./icons/file-plus.svg);
        }
      }
      .file-table {
        @apply table;
        .file-header {
          @apply table-header-group;
          .file-row {
            @apply table-row;
            span {
              @apply pr-5 py-1 table-cell text-base-content/70 font-semibold text-xs md:text-sm;
            }
          }
        }
        .file-container {
          @apply table-row-group;
          .file-row {
            @apply table-row;
            span {
              @apply pr-5 py-1 table-cell max-md:text-sm;
              &:first-child {
                overflow-wrap: anywhere;
              }
              a {
                @apply text-base-content/70 font-medium italic hover:underline hover:text-base-content focus-visible:underline focus-visible:text-base-content;
              }
            }
          }
        }

        + .empty-message {
          @apply text-base-content/70 italic font-medium text-xs md:text-sm;
        }
      }
      &.empty .file-table {
        display: none;
      }
    }
  }
}

@utility kinput-sm {
  --ksize: calc(var(--size-field, 0.25rem) * 9);
  font-size: 0.875rem;
}
@utility kinput-md {
  --ksize: calc(var(--size-field, 0.25rem) * 10);
  font-size: 1rem;
}
@utility kinput {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
  @apply block w-full hover:bg-base-200 font-medium px-6;
  @apply focus:outline-0 focus:border-base-300 focus:bg-base-100 focus:ring-3 focus:ring-primary/40;
  @apply focus-within:outline-0 focus-within:border-base-300 focus-within:bg-base-100 focus-within:ring-3 focus-within:ring-primary/40;
}
@utility kinput-lg {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
}
@utility kinput-xl {
  --ksize: calc(var(--size-field, 0.25rem) * 12);
  font-size: 1rem;
}

@utility kselect-sm {
  --ksize: calc(var(--size-field, 0.25rem) * 9);
  font-size: 0.875rem;
}
@utility kselect-md {
  --ksize: calc(var(--size-field, 0.25rem) * 10);
  font-size: 1rem;
}
@utility kselect {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
  @apply block w-full hover:bg-base-200 font-medium px-6;
  @apply focus:outline-0 focus:border-base-300 focus:bg-base-100 focus:ring-3 focus:ring-primary/40;
  @apply focus-within:outline-0 focus-within:border-base-300 focus-within:bg-base-100 focus-within:ring-3 focus-within:ring-primary/40;
  background-image: linear-gradient(
      45deg,
      #0000 50%,
      currentColor 50%,
      currentColor 75%,
      #0000 75%
    ),
    linear-gradient(
      135deg,
      #0000 25%,
      currentColor 25%,
      currentColor 50%,
      #0000 50%
    );
  background-position:
    calc(100% - 22px) calc(1px + 50%),
    calc(100% - 16px) calc(1px + 50%);
  background-size:
    6px 6px,
    6px 6px;
}
@utility kselect-lg {
  --ksize: calc(var(--size-field, 0.25rem) * 11);
  font-size: 1rem;
}
@utility kselect-xl {
  --ksize: calc(var(--size-field, 0.25rem) * 12);
  font-size: 1rem;
}

@utility ktextarea-sm {
  font-size: 0.875rem;
}
@utility ktextarea-md {
  font-size: 1rem;
}
@utility ktextarea {
  font-size: 1rem;
  @apply block w-full hover:bg-base-200 font-medium px-6;
  @apply focus:outline-0 focus:border-base-300 focus:bg-base-100 focus:ring-3 focus:ring-primary/40;
  @apply focus-within:outline-0 focus-within:border-base-300 focus-within:bg-base-100 focus-within:ring-3 focus-within:ring-primary/40;
}
@utility ktextarea-lg {
  font-size: 1rem;
}
@utility ktextarea-xl {
  font-size: 1rem;
}
