@layer base {
  /* Apply header styles to the header tags. */
  h1 {
    @apply h1;
  }
  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  h4 {
    @apply h4;
  }
  h5 {
    @apply h5;
  }
  h6 {
    @apply h6;
  }
  small {
    @apply text-sm;
  }
}

/* Display and Header classes, combining font size with font weight */
@utility d1 {
  @apply text-d1 font-extrabold;
}
@utility d2 {
  @apply text-d2 font-extrabold;
}
@utility h1 {
  @apply text-h1 font-extrabold;
}
@utility h2 {
  @apply text-h2 font-semibold;
}
@utility h3 {
  @apply text-h3 font-semibold;
}
@utility h4 {
  @apply text-h4 font-semibold;
}
@utility h5 {
  @apply text-h4 font-medium;
}
@utility h6 {
  @apply text-base font-bold;
}
@utility text-balance {
  text-wrap: balance;
}
